<div style="min-height: 6em; width: 100%"></div>
<div style="position: relative">
  <img
    src="public/LeftHills.svg"
    class="position-absolute start-0 bottom-0 mw-100"
  />
  <img src="public/RightHills.svg" class="position-absolute end-0 bottom-0" />
  <footer
    class="container d-flex justify-content-end align-items-center fs-4 pe-3 me-3 pb-2 position-absolute bottom-0 end-0"
  >
    <a
      href="https://twitter.com/faithchatt"
      target="_blank"
      class="text-reset text-decoration-none ms-3"
    >
      <i class="ti ti-brand-twitter"></i
    ></a>
    <a
      href="https://www.facebook.com/people/FaithChatt/100077003157011/"
      target="_blank"
      class="text-reset text-decoration-none ms-3"
    >
      <i class="ti ti-brand-facebook"></i
    ></a>
    <a
      href="https://www.instagram.com/faith.chatt/"
      target="_blank"
      class="text-reset text-decoration-none ms-3"
    >
      <i class="ti ti-brand-instagram"></i
    ></a>
    <a
      href="https://youtube.com/@faithchatt"
      target="_blank"
      class="text-reset text-decoration-none ms-3"
    >
      <i class="ti ti-brand-youtube"></i></a
    ><a
      href="https://podcasters.spotify.com/pod/show/faithchatt"
      target="_blank"
      class="text-reset text-decoration-none ms-3"
    >
      <i class="ti ti-brand-spotify"></i
    ></a>
  </footer>
</div>
