<div style="position: relative">
  <img src="public/LeftHills.svg" class="position-absolute start-0 bottom-0" />
  <img src="public/RightHills.svg" class="position-absolute end-0 bottom-0" />
  <footer
    class="container d-flex justify-content-end align-items-center fs-4 pe-5 me-5 pb-2 position-absolute bottom-0 end-0"
  >
    <a
      href="https://www.instagram.com/FaithChat/"
      target="_blank"
      class="text-reset text-decoration-none ms-3"
    >
      <i class="ti ti-brand-instagram"></i
    ></a>
    <a
      href="https://youtube.com/@faithchatt"
      target="_blank"
      class="text-reset text-decoration-none ms-3"
    >
      <i class="ti ti-brand-youtube"></i
    ></a>
    <i class="ti ti-brand-spotify ms-3"></i>
  </footer>
</div>
