<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>FaithChatt</title>
    <meta
      name="keywords"
      content="FaithChatt, Discord server, Christian Discord Server, Online Christian Fellowship, Online Bible Study"
    />
    <meta
      name="description"
      content="FaithChatt is a Christ-centered ministry that desires to reach people around the world with Biblical TRUTH and its application."
    />
    <%- include("head_links.ejs") %>
  </head>
  <body>
    <%- include("navbar.ejs", {active: "What we believe"}) %>
    <img
      style="position: relative; top: -56px; z-index: -10; width: 100%"
      src="public/HorizontalWaveDivider.svg"
    />
    <div class="container">
      <h1 class="mb-5 display-2">What we believe</h1>
      <h4 class="mb-4"><cite>The Apostles' Creed</cite></h4>
      <p>
        This creed is called the Apostles' Creed NOT because it was produced by
        the apostles themselves but because it contains a brief summary of their
        teachings. It sets forth their doctrine "in sublime simplicity, in
        unsurpassable brevity, in beautiful order, and with liturgical
        solemnity." In its present form it is dated no later than the fourth
        century. More than any other Christian creed, it may justly be called an
        ecumenical symbol of faith.
      </p>

      <blockquote class="blockquote">
        <p>
          I believe in God, the Father almighty, creator of heaven and earth. I
          believe in Jesus Christ, his only Son, our Lord, who was conceived by
          the Holy Spirit and born of the virgin Mary. He suffered under Pontius
          Pilate, was crucified, died, and was buried; He descended to hell. The
          third day he rose again from the dead. He ascended to heaven and is
          seated at the right hand of God the Father almighty. From there he
          will come to judge the living and the dead. I believe in the Holy
          Spirit, the holy catholic* church, the communion of saints, the
          forgiveness of sins, the resurrection of the body, and the life
          everlasting. Amen.
        </p>
      </blockquote>
      <small
        >*that is, the true Christian church of all times and all places. This
        is NOT a reference to any denomination or church.</small
      >
      <h4 class="mt-5 mb-4">Mission Statement</h4>
      <p>
        FaithChatt Forum believes that the Great Commission (Matthew 28:16-20)
        is the primary responsibility for the church. We also believe that God
        will provide the resources necessary to fulfill His commandment. We as
        believers need to have a willingness of heart to go and do (James 1:22).
        We think using social media is a great way to spread God’s Word with the
        world.
      </p>
      <p>
        Many people think that in order to obey the Great Commission, they must
        pack up everything they own and travel to some distant, foreign land.
        Although there is a need for people to go to foreign countries, it is
        also as close as your backyard, neighborhood, school, workplace, and
        even online using resources like Discord, Facebook, Twitter, and
        YouTube.
      </p>
      <p>
        Another myth is that you have to meet certain criteria in order to do
        this type of work. That is simply not true! God never puts an age on
        when we can become believers or enter ministry.
      </p>
      <p>
        The Word of God never gave us a checklist of things we must attain
        before spreading the Good News of Jesus Christ and His grace. Young,
        old, fat, thin, educated scholars, high school graduates or dropouts,
        housewives and even our children all play a major role in the Great
        Commission.
      </p>
      <p>
        God uses all who are willing to obey Him to reach people who have need
        of His salvation. For example: A young female of 15 years of age may be
        able to speak and relate to women better than a 45 year old male. A
        person 60 years old might be able to minister to someone of their
        generation better than a young person of 20. God needs all of us,
        exactly where we are, to obey Him with a willing heart. We should never
        look to mission work as putting numbers on a score card of good works.
        It’s not about the numbers. God’s Word says some plant, some water, but
        God gives the increase (1 Corinthians 3:6-8). Spread the Word and let
        God do His work through the Holy Spirit.
      </p>
      <p>
        There is an oft-quoted, old saying, “Give a man a fish and he will eat
        for a day, but teach a man to fish and he will feed his family for a
        lifetime.” It is our position that this is a wise and true statement
        that is full of social wisdom. The most effective way to impact the
        world is with the Word of God and by teaching everyone how to properly
        handle it.
      </p>
      <p>
        Please pray for us as we continue to seek God’s will in our mission. May
        the Lord’s will be done.
      </p>
      <h4 class="mt-5 mb-4">Vision Statement</h4>
      <p class="mb-5">
        FaithChatt envisions a ministry where the gospel is shared by various
        denominations united together as brothers and sisters in Jesus. As the
        body of Christ, we see this server offering Bible studies, prayer
        support, and Christian fellowship 24 hours per day, 7 days per week, and
        365 days per year. Together we will share the gospel with the entire
        world! Whoever has ears, let them hear (Matthew 13:9-16).
      </p>
    </div>
    <div class="mb-5" style="height: 1px"></div>
    <%- include("footer.ejs") %> <%- include("body_scripts.ejs") %>
  </body>
</html>
